@import "../../sass/variables.scss";
@import "../../sass/breakpoints.scss";

.form {
  margin-left: 90px;
  color: $bg;
  font-weight: bold;
  font-size: 18px;
  padding-top: 75px;

  @include media("<=tablet") {
    &--open {
      padding-top: 200px;
    }
  }

  &__item {
    margin-top: 50px;
    height: 20px;
    width: 250px;
    margin-left: 15px;
    background-color: $bg2;
    color: $bg;
    border-color: $bg;
    border-radius: 4px;
  }

  &__error {
    color: red;
    font-size: 14px;
    font-weight: 700;
  }
}

.dropdown-container {
  margin-top: 50px;
  text-align: left;
  border: 2px solid $bg;
  position: relative;
  border-radius: 5px;
  width: 120px;
  font-size: 16px;

  .dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }

  .dropdown-menu {
    position: absolute;
    transform: translateY(4px);
    width: 100%;
    border: 2px solid $bg;
    border-radius: 5px;
    overflow: auto;
    background-color: $bg2;
    z-index: 99;

    .dropdown-item {
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: $text;
      }
    }
  }
}
